@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-boletos {
    background-color: v.$verde;

    h3 {
        color: v.$blanco;
    }

    .boletos {
        @include m.contenedor;
        @include m.tablet {
            @include m.grid(2);
        }
    }
}

.pase {

    transition: transform .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &-nombre {
        color: v.$blanco;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 900;
    }

    &-header,
    &-footer {
        
        padding: .3rem;

        p {
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }

    }

    &-header {
        background-color: v.$rosa;

        p {
            font-size: 2.2rem;
            padding: 1rem 0;
            text-transform: uppercase;
        }
    }

    &-body {
        background-color: v.$blanco;

        ul {
            @include m.resetear-lista;

            li {
                border-bottom: 1px solid #E1E1E1;
                padding: 2rem;
            }
        }
    }

    &-footer {
        background-color: v.$blanco;
        padding: 3rem;

        p {
            background-color: v.$morado;
            cursor: pointer;
            font-size: 2.8rem;
            font-weight: 900;
            padding: 1rem 0;
            border-radius: 1rem;

            &:hover {
                background-color: darken(v.$morado, 20%);
            }
        }
    }

}