@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {

    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;
    position: relative;

    .overlay {
        align-items: center;
        background: linear-gradient(
            270deg,
            rgba(v.$morado, 60%),
            rgba(darken(v.$morado, 20%), 90%)
        );
        display: flex;
        inset: 0;
        position: absolute;
    }

    video {
        display: block;
        width: auto;
        @include m.desktop {
            width: 100%;
        }
    }

}

.contenido-video {

    z-index: 10;

    h2 {
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }

    p {
        background-color: v.$rosa;
        color: v.$blanco;
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0;
        padding: 1rem 2rem;
    }
}